/* short break color modes */
.short-break {
    background-color: var(--page-bg-color-short);
}

.short-break #timerContainer {
    background-color: var(--timer-bg-color-short);
}

.short-break th {
    background-color: var(--header-color-short);
}

.short-break tr:nth-child(even):not(.completedTask) td {
    background-color: var(--even-color-short);
}

.short-break tr:nth-child(odd):not(.completedTask) td {
    background-color: var(--odd-color-short);
}

.short-break tr:hover:not(.completedTask) td {
    background-image: linear-gradient(transparent, var(--tr-hover-color-short));
    transition-duration: 0;
}

.short-break #add-todo {
    background-color: var(--header-color-short);
}