/* distraction box styling */
#distract-popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 51;
}

#distract-form-container {
  border-radius: 25px;
  max-width: 350px;
  padding: 10px;
  background-color: #f1f1f1;
}

#description {
  width: 90%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  color: black;
}

.distractFormButton {
  border-radius: 15px;
  background-color: #056e08;
  color: white;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  border-radius: 15px;
  background-color: #ad1a1a;
}

h1,
b {
  color: black; /* so that text shows up for distraction box against white background */
}
