* {
  font-family: Helvetica, sans-serif;
  color: var(--font-color);
}

/* color variables for buttons, page, and timer */
:root {
  /* default button colors */
  --button-border-color: rgba(245, 245, 245, 0.4);
  --button-color: lightslategray;

  /* short break button colors */
  --button-color-short: #763626;

  /* default page colors */
  --page-bg-color: cadetblue;
  --font-color: white;
  --timer-bg-color: darkcyan;

  /* short break page colors */
  --page-bg-color-short: #336b87;
  --timer-bg-color-short: #90afc5;

  /* toothpaste table theme */
  --even-color: rgba(149, 218, 229, 0.603);
  --odd-color: rgb(2, 177, 177);
  --header-color: darkcyan;
  --tr-hover-color: #f2f2f279;
  --td-border-radius: 30px;

  /* shortbreak table theme */
  --even-color-short: #54a6cf;
  --odd-color-short: #79c4ea;
  --header-color-short: #90afc5;
  --tr-hover-color-short: #763626;
}

body {
  background-color: var(--page-bg-color);
  transition-duration: 2s;
}

header {
  overflow: auto;
}

.pure-button {
  background: var(--button-color);
  border-radius: 5px;
  color: var(--font-color);
  padding: 0;
  font-size: 70%;
}

.section-container {
  position: relative;
  margin: auto;
  transition-duration: 2s;
}

/* header styling */
.icon-container {
  display: flex;
  float: right;
  font-size: 0.5em;
  width: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons {
  padding: 0;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--button-border-color);
}

.icon-container p {
  margin: 0;
  padding: 0;
}

.icons img {
  position: relative;
  top: 2px;
}

.inline {
  display: inline-block;
  max-width: 45%;
}

.buttons-div {
  width: 300px;
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

/* timer styling */
#timerContainer {
  width: 400px;

  /* background-color: var(--timer-bg-color); */
  border-radius: 10px;
}

#countdown {
  font-size: xx-large;
  text-align: center;
}

#modeDisplay {
  position: relative;
  top: 10px;
  margin: 10px;
  font-size: 80%;
}

#timeDisplay {
  position: relative;
  top: 0;
  bottom: 100px;
  font-size: 240%;
  margin: 50px;
  height: 100px;
}

#distractionButton,
#startTimer {
  width: 48%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--button-border-color);
}

#currentTask {
  font-size: larger;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 400px;
  padding: 10px;
}

#FAQ {
  background: #008b8b;
  display: inline-block;
  margin: auto;
  width: 60%;
  border: 3px solid #2f4f4f;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}

/* for support for small screens */
@media screen and (max-width: 500px) {
  #timerContainer {
    width: 80vw;
  }

  @media screen and (max-width: 300px) {
    #timerContainer {
      width: 240px;
    }
  }
}

@media screen and (max-height: 550px) {
  #timerContainer {
    height: 50vh;
  }

  @media screen and (max-height: 480px) {
    #timerContainer {
      height: 240px;
    }
  }
}

@media screen and (max-width: 500px), (max-height: 550px) {
  #distractionButton {
    font-size: 35%;
  }

  #startTimer {
    font-size: 75%;
  }

  #timeDisplay {
    font-size: 240%;
  }

  #modeDisplay {
    font-size: 70%;
  }
}

#top-left-border {
  position: relative;
  text-align: left;
  margin: 0;
  font-size: 150%;
}

#top-left-border span {
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 0.3;
}

#bottom-right-border {
  position: relative;
  text-align: right;
  margin: 0;
  font-size: 150%;
}

#bottom-right-border span {
  position: absolute;
  bottom: 50px;
  right: 30px;
  line-height: 0.3;
}
