* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: bisque;
}

header {
  background-color: paleturquoise;
}

#timerContainer {
  position: relative;
  margin: auto;
  height: 280px;
  width: 400px;
  background-color: darkgoldenrod;
  border-radius: 5px;
}

#countdown {
  font-size: xx-large;
  text-align: center;
}

.pure-button {
  border-radius: 5px;
}

#modeDisplay {
  position: relative;
  top: 10px;
  margin: 10px;
  font-size: 80%;
}

#timeDisplay {
  position: relative;
  top: 15px;
  font-size: 275%;
  margin: 5px;
}

#distractionButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 40%;
}

#tasklist {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 40vw;
  background-color: slategrey;
}

/* for support for small screens */
@media screen and (max-width: 500px) {
  #timerContainer {
    width: 80vw;
  }

  @media screen and (max-width: 300px) {
    #timerContainer {
      width: 240px;
    }
  }
}

@media screen and (max-height: 550px) {
  #timerContainer {
    height: 50vh;
  }

  @media screen and (max-height: 480px) {
    #timerContainer {
      height: 240px;
    }
  }
}

@media screen and (max-width: 500px), (max-height: 550px) {
  #distractionButton {
    font-size: 35%;
  }

  #startTimer {
    font-size: 75%;
  }

  #timeDisplay {
    font-size: 240%;
  }

  #modeDisplay {
    font-size: 70%;
  }
}

.icons {
  float: right;
}
