/* css styling for to-do list table */

/* container for table */
#tasklist {
  height: 60vh;
  width: 50vw;
  overflow-y: auto;
  margin-top: 1%;
  padding-right: 20px;
}

/* table itself + header, cells, rows, then columns styling */
table {
  border-collapse: collapse;
  table-layout: fixed; /* allows for word-wrap */
  width: 100%;         /* allows for word-wrap */
}

th,
td {
  padding: 15px;
  word-wrap: break-word; /* so that long tasks don't extend the table */
}

th {
  background-color: var(--header-color);
  color: var(--font-color);
  text-align: left;
  padding: 20px 10px;
  font-size: 200%;
  position: sticky;
  top: 0;
  transition-duration: 2s;
}

td {
  min-width: 50px;
  transition-duration: 2s;
}

tr {
  margin-top: 20px;
}

tr:nth-child(even) td {
  background-color: var(--even-color);
  color: var(--font-color);
}

tr:nth-child(odd) td {
  background-color: var(--odd-color);
  color: var(--font-color);
}

tr:hover td {
  background-image: linear-gradient(transparent, var(--tr-hover-color));
  transition-duration: 0;
}

.col1-checkbox {
  width: 10%;
}

.col3-pomos {
  width: 10%;
}

.col4-delete {
  width: 15%;
  text-align: center;
}

.col2-task {
  width: 65%;
}

/* input form (add task) */

/* form container */
#add-todo {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--header-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 2s;
}

.task-name,
.task-length {
  font-size: 20px;
  border-radius: 25px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px; /* so that when a user enters a long task it doesn't go past the input bar */
  color: black;
}

.task-name {
  width: calc(56% - 60px);
}

.task-length {
  width: calc(42% - 60px);
}

.task-submit {
  font-size: 40px;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 10px;
  color: black;
  cursor: pointer;
}

/* checkbox and delete button styling */
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  box-shadow: 0 0 0 3px lime;
}

#delete-all-button {
  font-size: 12px;
  white-space: normal;
  border-radius: 35%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--button-border-color);
  right: 10px;
}

.delete-button {
  color: black;
  border-radius: 40%;
}

tr.completedTask td {
  text-decoration: line-through;
  background-color: rgba(211, 211, 211, 0.747);
}

.three-dots::after {
  cursor: pointer;
  color: #fcc;
  content: '\2807';
  font-size: 20px;
  align-items: center;
}

.double-buttons {
  max-height: 100%;
  display: inline-block;
}

.double-buttons button {
  width: 50%;
  max-height: 100%;
  background-color: transparent;
  border: none;
  display: inline block;
}

svg {
  width: 24px;
  height: 24px;
}

.double-buttons button svg:hover {
  fill: red;
  cursor: pointer;
}

.more {
  background: transparent;
  outline: none;
  border: none;
}

.inline {
  display: inline-block;
  max-width: 45%;
}
 td button {
   display: block;
   margin: auto;
 }

@media screen and (min-width: 1300px) {
  #tasklist {
    height: 60vh;
    width: 40vw;
    overflow-y: auto;
    margin-top: 1%;
    padding-right: 20px;
  }
}
