/* css styling for to-do list table */

/* container for table */
#tasklist {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 40vw;
  background-color: var(--page-bg-color);
  overflow-y: auto;
  margin-top: 1%;
  padding-right: 20px;
}

/* table itself + header, cells, rows, then columns styling */
table {
  border-collapse: collapse;
  table-layout: fixed; /* allows for word-wrap */
  width: 100%;         /* allows for word-wrap */
}

th,
td {
  padding: 15px;
  word-wrap: break-word; /* so that long tasks don't extend the table */
}

th {
  background-color: var(--header-color);
  color: white;
  text-align: left;
  padding: 20px 10px;
  font-size: 200%;
  position: sticky;
  top: 0;
}

td {
  min-width: 50px;
}

tr {
  margin-top: 20px;
}

tr:nth-child(even) td {
  background-color: var(--even-color);
  color: var(--font-color);
}

tr:nth-child(odd) td {
  background-color: var(--odd-color);
  color: var(--font-color);
}

tr:hover td {
  background-color: var(--tr-hover-color);
}

.col1-checkbox,
.col3-pomos,
.col4-delete {
  width: 10%;
}

.col2-task {
  width: 70%;
}

/* input form (add task) */

/* form container */
#add-todo {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--header-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-name, .task-length {
  font-size: 1em;
  background: clear;
  border-style: solid;
  border-radius: 60vh;
  border-color: var(--header-color);
  height: 1.5em;
  padding-left: 0.5vw;
  padding-right: 0.1vw; /* so that when a user enters a long task it doesn't go past the input bar */
  color: black;
  top: 49vh; 
  outline: none;
  font-size: 100;
  
}

.task-name {
  /* width: calc(56% - 60px); */
  width: 15vw;
  margin-left: 1.2vw;

}
.task-length {
 /* width: calc(42% - 60px);*/
 width: 2.5vw;
 margin-left: 14vw;
}
.task-submit {
  margin-left: 1vw;
  width: 2em;
  font-size: 1.4em;
  background: clear;
  border-style: solid;
  border-radius: 100vh;
  border-color: var(--header-color);
  padding-left: 0.1vw;
  padding-right: 0.1vw; /* so that when a user enters a long task it doesn't go past the input bar */
  color: black;
  top: 49vh; 
  outline: none;
  min-width: 15px;
}

/* checkbox and delete button styling */
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
}

input[type='checkbox']:checked {
  box-shadow: 0 0 0 3px lime;
}

.delete-button {
  color: black;
  border-radius: 40%;
}

tr.completedTask td {
  text-decoration: line-through;
  background-color: rgba(211, 211, 211, 0.747);
}
